{% extends 'admin_main.html' %}
{% block content %}
<h1>Welcome, {{admin[4] }}. </h1>

<div class="dashboard-container">
    <h2>Users Data</h2>

    <div class="users-table">
        <table class="user-details-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Is Phone Verified</th>
                    <th>Requested Verification</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                        <td>{{ user[3] }}</td>
                        <td>{% if user[5] == 1 %} Verified {% else %} Not Verified {% endif %}</td>
                        <td>{% if user[7] == 1 %} Requested {% else %} Not Requested {% endif %}</td>

                        <td>
                            {% if user[5] == 0 %}
                            <form action="{{ url_for('verify_user', user_id=user[0]) }}" method="post">
                                <button class="button" type="submit">Verify User</button>
                            </form>
                            {% elif user[5] == 1 %}
                                <!-- Display non-clickable button for verified license -->
                                <button class="verified-button" type="button" disabled>User Verified!</button>
                            {% endif %}
                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock content %}
