{% extends 'main.html' %}
{% block content %}

<div>

    <form class="form" method="post" action="{{ url_for('change_password') }}">
        <h1>Change Password</h1>
        <p class="error">{{ error }}</p>
        <label for="current_password">Current Password:</label>
        <input type="password" id="current_password" name="current_password" placeholder="Enter current password" required>

        <label for="new_password">New Password:</label>
        <input type="password" id="new_password" name="new_password" placeholder="Enter new password" required>

        <label for="confirm_new_password">Confirm New Password:</label>
        <input type="password" id="confirm_new_password" name="confirm_new_password" placeholder="Confirm new password" required>

        <button type="submit">Submit</button>
    </form>
    <small>Password must meet the following requirements:</small>
    <ul>
        <li><small>At least 8 characters long</small></li>
        <li><small>Contain both uppercase and lowercase letters</small></li>
        <li><small>Include at least one digit</small></li>
        <li><small>Contain at least one special character (!@#$%^&*(),.?":{}|<>)</small></li>
        <li><small>Must not contain spaces</small></li>
    </ul>

</div>

{% endblock content %}