{% extends 'main.html' %}
{% block content %}




<div class="chat-container">
    <div class="chat-header">
        <h4>Chat with a virtual assistant</h4>
    </div>


    <div id="chat-body">

        {% for chat in chats %}
            <div class="message-item {% if chat[5]=='user' %}user-message{% else %}admin-message{% endif %}">
                <strong class="message-text">{{ chat[3]}}</strong>
            </div>
        {% endfor %} 
    
    </div>

    <div class="chat-footer">
        <form id="chat-form" action="{{ url_for('chat')}}" method="post">
            <input type="text" id="message-input" name="message-input" placeholder="Type your message...">
            <button id="send-btn" type="submit">Send</button>
        </form>
    </div>

</div>

<script>
    // Function to scroll to the bottom of the chat container
    function scrollToBottom() {
        var chatContainer = document.querySelector('.chat-container');
        chatContainer.scrollTop = chatContainer.scrollHeight;
    }

    window.onload = scrollToBottom;
</script>


{% endblock content %}