{% extends 'main.html' %}
{% block content %}

<div id="chat"></div>

    <form id="message-form">
        <input type="text" id="message-input" autocomplete="off">
        <button type="submit">Send</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('message', function(data) {
            // Handle incoming messages and display them in the chat window
            var chatDiv = document.getElementById('chat');
            var messageDiv = document.createElement('div');
            messageDiv.innerHTML = '<strong>' + data.sender_id + ':</strong> ' + data.message;
            chatDiv.appendChild(messageDiv);
        });

        document.getElementById('message-form').addEventListener('submit', function(e) {
            e.preventDefault();
            var messageInput = document.getElementById('message-input');
            var message = messageInput.value.trim();
            if (message !== '') {
                // Send the message to the server
                socket.emit('message', { sender_id: {{ user_id }}, receiver_id: {{ admin_id }}, message: message });
                messageInput.value = '';
            }
        });
    </script>

{% endblock content %}