<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opiniohive</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="main">


        <div class="header">
            <a href="/" class="logo">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="logo">
            </a>
    
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="{{ url_for('about')}}">About</a>
                <a href="{{ url_for('FAQ')}}">FAQ</a>
                <a href="{{ url_for('login')}}">Login</a>
                <button class="button" onclick="location.href='/register'">Register Now</button>
            </nav>
            <div class="menu-icon">
                <img src="{{ url_for('static', filename='hamburger_icon.png') }}" alt="Menu">
            </div>
        </div>


        <div class="home">

        <h1>Welcome to our survey!</h1>
        <p>Your opinions matter to us. Participate in our survey and get paid <strong>15$!</strong> </p>
        <button onclick="location.href='/register'">Register Now</button>

        </div>

        <div class="info">
            <section>
                <img src="{{ url_for('static', filename= 'images/young-man-using-phone.png')}}" alt="people-using-phone">
                <h3>Signup for Free</h3>
                <p>Register with your email and Phone number and you will be ready to start.</p>
            </section>

            <section>
                <img src="{{ url_for('static', filename= 'images/woman-using-phone.png')}}" alt="people-using-phone">
                <h3>Survey</h3>
                <p>Answer Our Survey Questions.</p>
            </section>

            <section>
                <img src="{{ url_for('static', filename= 'images/counting-money.png')}}" alt="people-using-phone">
                <h3>Earn!</h3>
                <p>Verify Account Details and get paid <strong>15$!</strong></p>
            </section>
        </div>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
