<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <title>Verify Phone</title>
</head>
<body>

    <div class="container">

        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="logo">
        </a>   

        <form class="form" action="{{ url_for('verify_code')}}"  method="POST">
            <p class="error">{{ error }}</p>
            <p class="error">{{ success }}</p>
        
            <h1>Verify Your Phone Number</h1>
            <label for="verification_code">Enter Code Sent to {{ user[3]}}:</label>
            <a style="text-decoration: none; margin-bottom: 10px; margin-top: 10px;" href="{{ url_for('dashboard')}}">Resend Code</a>
            <input type="text" id="verification_code" name="verification_code"required>
            <button class="button" type="submit">Enter</button>
        </form>
        
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/65bcab468d261e1b5f5b2d3a/1hlkfq3cj';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
            })();
            </script>
            <!--End of Tawk.to Script-->

    </div>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/65bcab468d261e1b5f5b2d3a/1hlkfq3cj';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

</body>
</html>
